<template>
    <template if:true={showSpinner}>
        <lightning-spinner alternative-text="Loading..."></lightning-spinner>
    </template>
    <div class="container d-flex justify-space-between slds-p-bottom_xx-small">
        <div class="slds-p-left_xx-small header-title"><b>Interpreter Certification Information</b></div>
    </div>
    <div class="extra-padding">
        <lightning-combobox name="haveInterpreterCert" label="Do you hold an interpreter or transliteration certification?" value={certificateInformation.holdInterpreterCert} placeholder="" options={haveInterpreterCert} onchange={handleChange} ></lightning-combobox>
        <template if:true={showCertifications}>
            <lightning-checkbox-group name="Checkbox Group"
                              label="Please check the certifications held. (Check all that apply)"
                              options={interpreterCertifications}
                              value={certificateInformation.certificateValue}
                              onchange={handleCertificationChange}
                              required></lightning-checkbox-group>
        </template>
        <template if:true={stateLevelAssessment}>
            <lightning-input type="text" data-id="assessmentLevel" value={certificateInformation.assessmentLevel} label="What level do you hold? (1-5)" onchange={handleAssessmentLevel} required></lightning-input>
        </template>
        <label class="slds-form-element__label">If you are an RID member, what is your RID member number?</label>
        <lightning-input type="text" value={certificateInformation.RIDNumber} label="RID member number:"></lightning-input>
    </div>
</template>