<template>
    <template if:true={showSpinner}>
        <lightning-spinner alternative-text="Loading..."></lightning-spinner>
    </template>
    <div class="container d-flex justify-space-between slds-p-bottom_xx-small">
        <div class="slds-p-left_xx-small header-title"><b>EIPA Information</b></div>
    </div>
    <div class="extra-padding">
        <lightning-combobox name="haveYouTakenTheEIPA" label="Have you taken the EIPA?" value={eipaInformtion.haveYouTakenTheEIPA} placeholder="Select Progress" options={howTakenTheEIPA} onchange={handleChange} ></lightning-combobox>
        <!-- <lightning-combobox if:true={EIPAExamTaken} required name="lastTaketheEIPA" label="When did you last take the EIPA?" value={eipaInformtion.lastTaketheEIPA} placeholder="Select Progress" options={lastTakeTheEIPA} onchange={handleChange} ></lightning-combobox> -->
        <lightning-input type="text" if:true={EIPAExamTaken} data-id="lastTaketheEIPA" name="lastTaketheEIPA" label="When did you last take the EIPA?" value={eipaInformtion.lastTaketheEIPA} onchange={handleEIPATakenChange} required></lightning-input>
        <lightning-combobox if:true={EIPAExamTaken} required name="whatIsYourEIPAScore" label="What is your EIPA score? (If you've taken it multiple times, please list your highest score)." value={eipaInformtion.whatIsYourEIPAScore} placeholder="Select Progress" options={eipaScore} onchange={handleChange} ></lightning-combobox>
        <div if:false={EIPAExamTaken}>
          <lightning-combobox name="AreYouPlanningToTakeTheEIPA" label="Are you planning to take the EIPA?" value={eipaInformtion.AreYouPlanningToTakeTheEIPA} placeholder="Select Progress" options={planToTakeEIPA} onchange={handleChange} ></lightning-combobox>
          <lightning-combobox if:true={planningToTakeExam} required name="whenDoYouPlanToTakeTheEIPA" label="When do you plan to take the EIPA?" value={eipaInformtion.whenDoYouPlanToTakeTheEIPA} placeholder="Select Progress" options={whenPlanEIPA} onchange={handleChange} ></lightning-combobox>
        </div>
    </div>
</template>