<!--
  @description       : 
  @author            : kavya.konagonda@mtxb2b.com
  @group             : 
  @last modified on  : 10-29-2021
  @last modified by  : kavya.konagonda@mtxb2b.com
-->
<template>
  <!-- <template if:false={showModel}>
    <div class="demo-only" style="height:4rem">
      <div class="slds-notify_container slds-is-relative">
        <div class="slds-notify slds-notify_toast slds-theme_error" role="status">
          <span class="slds-assistive-text">error</span>
          <span class="slds-icon_container slds-icon-utility-error slds-m-right_small slds-no-flex slds-align-top" title="Description of icon when needed">
            <svg class="slds-icon slds-icon_small" aria-hidden="true">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#error"></use>
            </svg>
          </span>
          <div class="slds-notify__content">
            <h2 class="slds-text-heading_small ">You cann't create a service Request.</h2>
          </div>
          <div class="slds-notify__close">
            <button class="slds-button slds-button_icon slds-button_icon-inverse" title="Close">
              <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
              </svg>
              <span class="slds-assistive-text">Close</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </template> -->
  <!-- <template if:true={showModel}> -->
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
    aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
    <template if:true={showSpinner}>
      <lightning-spinner alternative-text="Loading"></lightning-spinner>
  </template> 
    <div class="slds-modal__container" style="width: 100%;">
      <header class="slds-modal__header">
        <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Create NDBEDP Service Request</h2>
      </header>
        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
        <div class="slds-col slds-medium-size_1-of-1">
          <lightning-combobox name="requestParentId" label="Parent NDBEDP Request" value={requestObj.parentName}  options={parentOptions} disabled
            onchange={handleChange}>
          </lightning-combobox>
        </div>
        <div class="slds-col slds-medium-size_1-of-1">
          <lightning-combobox name="requestAudience" label="Requested by" value={requestAudience} options={audienceOptions}   disabled 
            onchange={handleChange}>
          </lightning-combobox>
        </div>
        <div class="slds-col slds-medium-size_1-of-1">
          <lightning-combobox name="requestType" label="Request Type" value={requestType}  options={typeOptions} disabled
            onchange={handleChange}>
          </lightning-combobox>
        </div>
        <div class="slds-col slds-medium-size_1-of-1" >
          <lightning-combobox style="overflow:visible !important;" name="requestSubtype" label="Request Sub-type" value={requestObj.requestSubtype} options={options} required
            onchange={handleChange}>
          </lightning-combobox>

</div>
</br>
</br>
</br>
</br>
</br>
</div>

      <footer class="slds-modal__footer" style="background: white;">
        <lightning-button variant="brand" label="Cancel" title="Cancel" name="Cancel" onclick={cancelEvent}
          ></lightning-button>

        <lightning-button variant="brand" label="Save" title="Save" name="Save" onclick={handleSave}
        class="slds-m-left_medium" ></lightning-button>
      </footer>
    </div>
  </section>
  <!-- </template> -->

</template>