.slds-modal__content{
    overflow: initial;
}
.strong-titletwo{
    color: #3E3E3C ;
    font-weight: 700;
    font-size: 140%;
}
.buttoncss{
    margin-right: -0px;
}
.buttoncss1{
    margin-right: -450px;
}