<template>
    <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
        <div class="slds-modal__container">
          <header class="slds-modal__header">
            <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Do you want to delete {name}</h2>
          </header>
          <!-- <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
          </div> -->
          <footer class="slds-modal__footer">
            <template if:true={showSpinner}>
                    <lightning-spinner variant="brand" alternative-text="Loading" size="medium" style="z-index: 9999;"></lightning-spinner>
            </template>
            <lightning-button label="No" onclick={closeWindow}></lightning-button>
            <lightning-button label="Yes" onclick={save}></lightning-button>
          </footer>
        </div>
      </section>
      <div class="slds-backdrop slds-backdrop_open"></div>
</template>