<template>
    <template if:true={showSpinner}>
        <lightning-spinner alternative-text="Loading..."></lightning-spinner>
    </template>
    <div class="container d-flex justify-space-between slds-p-bottom_xx-small">
        <div class="slds-p-left_xx-small header-title"><b>NCITLB License Information</b></div>
    </div>
    <div class="extra-padding">
        <lightning-combobox name="licenseIssuedbyTheNCITLB" label="Do you have a license issued by the NCITLB?" value={dataNCITL.licenseIssuedbyTheNCITLB} placeholder="Select Progress" options={licensesIssuesByNCITLB} onchange={handleChange} ></lightning-combobox>
        <lightning-input if:false={noNCITLBNumber} required type="text" label="What is your NCITLB license number?" value={dataNCITL.NCITLBLicenseNumber} name="NCITLBLicenseNumber" onchange={handleChange} onblur={updateInput}></lightning-input>
    </div>
</template>