<template>
  <template if:false={wrongRequest}>
    <div class="demo-only" style="height:4rem">
      <div class="slds-notify_container slds-is-relative">
        <div class="slds-notify slds-notify_toast slds-theme_error" role="status">
          <span class="slds-assistive-text">error</span>
          <span class="slds-icon_container slds-icon-utility-error slds-m-right_small slds-no-flex slds-align-top" title="Description of icon when needed">
            <svg class="slds-icon slds-icon_small" aria-hidden="true">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#error"></use>
            </svg>
          </span>
          <div class="slds-notify__content">
            <h2 class="slds-text-heading_small ">You doesn't have access for the Invitation.</h2>
          </div>
          <div class="slds-notify__close">
            <button class="slds-button slds-button_icon slds-button_icon-inverse" title="Close">
              <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
              </svg>
              <span class="slds-assistive-text">Close</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </template>
  <template if:true={wrongRequest}>
    <template if:false={response}>
    <div class="slds-m-top_small slds-m-bottom_medium" style="margin-left: 300px;">
      <h1 class="slds-text-heading_small slds-m-bottom_small" style ="font-weight: 900;
      font-family: fangsong;
      font-size: 25px;">
        The Following Invitation must to be Accepted/Rejected.
      </h1>
        <h2 class="slds-text-heading_small slds-m-bottom_small" style="margin-left: 50px;" >
            Do you want to Accept the Invitation for the following case {caseNumber}?
        </h2>
        <lightning-button variant="success" label="Accept" name="Accept" onclick={handleClick} class="slds-m-left_x-small" style ="margin-left: 170px;"></lightning-button>
        <lightning-button variant="destructive" label="Reject" name="Reject" onclick={handleClick} class="slds-m-left_medium"></lightning-button>
    </div>
   </template>
    <template if:true={response}>
    <!-- <div class="slds-box">
        <h1 class="slds-text-heading_small " style="color:green">
           Your Response has been Recorded.
        </h1>
    </div> -->
    <div class="demo-only" style="height:4rem">
        <div class="slds-notify_container slds-is-relative">
          <div class="slds-notify slds-notify_toast slds-theme_success" role="status">
            <span class="slds-assistive-text">success</span>
            <span class="slds-icon_container slds-icon-utility-success slds-m-right_small slds-no-flex slds-align-top" title="Description of icon when needed">
              <svg class="slds-icon slds-icon_small" aria-hidden="true">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#success"></use>
              </svg>
            </span>
            <div class="slds-notify__content">
              <h2 class="slds-text-heading_small ">Your Response has been Recorded.
                <a href={label.Site_Base_URL}>Click here to move to homepage.</a> </h2>
            </div>
            <div class="slds-notify__close">
              <button class="slds-button slds-button_icon slds-button_icon-inverse" title="Close">
                <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                </svg>
                <span class="slds-assistive-text">Close</span>
              </button>
            </div>
          </div>
        </div>
      </div>
</template>
</template>
</template>