<!--
  @description       : 
  @author            : kavya.konagonda@mtxb2b.com
  @group             : 
  @last modified on  : 07-12-2021
  @last modified by  : kavya.konagonda@mtxb2b.com
  Modifications Log 
  Ver   Date         Author                       Modification
  1.0   07-02-2021   kavya.konagonda@mtxb2b.com   Initial Version
-->
<template>
  <!-- <header class="strong-titletwo slds-align_absolute-center slds-p-bottom_small slds-m-top_medium">New Assessment</header>
  <hr> -->
  <header class="slds-modal__header strong-titletwo">New Assessment</header>
  <!-- <div class="slds-grid title1 slds-gutters_x-small"> -->
  <div class="slds-grid slds-gutters_x-small">
    <span class="slds-col slds-medium-size_1-of-2 slds-large-size_1-of-2">
      <img style="height:70%;width:50%" src={logoURL} />
    </span>

    <span class="slds-col slds-medium-size_1-of-2 slds-large-size_1-of-2">
      <lightning-input class="strong-text" name='consumername' label='Consumer Name' value={consumerValueNew} disabled>
      </lightning-input>
    </span>
  </div>
  <div class="strong-title title1 slds-align_absolute-center">North Carolina National Deaf-Blind</div>
  <div class="strong-title slds-align_absolute-center">Equipment Distribution Program</div>
  <div class="strong-title slds-align_absolute-center"><a href="http://www.icanconnect.org/"
      target="​_blank">www.iCanConnect.org</a></div>
  <div class="strong-titletwo slds-align_absolute-center">Eligibility Assessment</div></br>

  <h3><strong>Disability:</strong></h3>
  <lightning-radio-group name='hearing' label='Hearing' options={picklistOptions} value={value} onchange={handleChange}>
  </lightning-radio-group>

  <lightning-radio-group name='visionloss' label='Vision Loss' options={picklistOptionsvisionLoss} value={value}
    onchange={handleChange}></lightning-radio-group>
  <lightning-radio-group name='other' label='Other' options={picklistOptionsOther} value={value}
    onchange={handleChange}></lightning-radio-group>
  <lightning-radio-group name='communicationskills' label='Communication Skills'
    options={picklistOptionscommunicationSkills} value={value} onchange={handleChange}></lightning-radio-group>

  <lightning-radio-group name='connectivity' label='Connectivity' options={picklistOptionsConnectivity} value={value}
    onchange={handleChange}></lightning-radio-group>

  <lightning-radio-group name='aTUsage' label='AT Usage' options={picklistOptionsATUsage} value={value}
    onchange={handleChange}></lightning-radio-group>
    
  <lightning-checkbox-group name='computerusageexperience' label='Computer usage experience'
    options={picklistOptionsComputerUsageExperience} value={value} onchange={handleChange}></lightning-checkbox-group>


  <!-- <template if:false={pcMac}>
  <lightning-radio-group name='aTUsage ' label='AT Usage ' options={picklistOptionsATUsage}
    value={value} onchange={handleChange}></lightning-radio-group>
  </template>

  <template if:true={pcMac}>
    <lightning-radio-group name='aTUsage ' label='AT Usage ' options={picklistOptionsATUsageNew}
      value={value} onchange={handleChange}></lightning-radio-group>
  </template> -->

  <lightning-radio-group name='hearingassessment' label='Hearing Assessment' options={picklistOptionsHearingAssessment}
    value={value} onchange={handleChange}></lightning-radio-group>

  <lightning-radio-group name='visualassessment' label='Visual Assessment' options={picklistOptionsVisualAssessment}
    value={value} onchange={handleChange}></lightning-radio-group>

  <lightning-radio-group name='tactileassessment' label=' Tactile Assessment' options={picklistOptionsTactileAssessment}
    value={value} onchange={handleChange}></lightning-radio-group></br>

  <div class="strong-text">Narrative</div>
  <lightning-textarea name='narrative' label='Narrative' onchange={handleChange} variant="label-hidden">
  </lightning-textarea></br>

  <div class="strong-text">Consumer Goals</div>
  <lightning-textarea name='consumergoals' label='Consumer Goals' onchange={handleChange} variant="label-hidden">
  </lightning-textarea></br>

  <!-- <lightning-radio-group name='levelofcomputerexperience' label='Level of Computer Experience'
    options={picklistOptionsComputerExperience} value={value} onchange={handleChange}></lightning-radio-group></br>
   -->

  <lightning-checkbox-group name='levelofcomputerexperience' label='Level of Computer Experience'
    options={picklistOptionsComputerExperience} value={value} onchange={handleChange}></lightning-checkbox-group></br>

  </br>
  <div class="strong-heading slds-align_absolute-center">ATTESTATION:</div>
  <div class="slds-align_absolute-center">(Professional must sign the application)</div>
  </br>

  <p>{Attestation_Label_1}</p></br>

  <span class="strong-text">Verification of Disability: </span>{Verification_of_Disability}</br></br>

  <span>{Verification_of_Disability_one}</span></br></br>

  <span>{Verification_of_Disability_two}</span></br></br>

  <span>{Verification_of_Disability_three}</span></br></br>

  <span class="strong-text">Income Eligibility: </span>{Income_Eligibility}</br></br>

  <span>{Income_Eligibility_two}</span></br></br>

  <h6>attestation is based on the following:</h6>

  </br>

  <div class="strong-text">Attestation</div>
  <lightning-textarea name='attestation' label='Attestation' onchange={handleChange} variant="label-hidden">
  </lightning-textarea></br>

  <div class="slds-grid slds-gutters_x-small">
    <div class="slds-col slds-medium-size_1-of-2 slds-large-size_1-of-2">
      <div class="strong-text">Attestors signature</div>
      <lightning-input name='attestorsignature' label='Attestors signature' onchange={handleChange}
        variant="label-hidden"></lightning-input>
    </div>

    <div class="slds-col slds-medium-size_1-of-2 slds-large-size_1-of-2">
      <div class="strong-text">Date</div>
      <lightning-input type=Date name='attestationdate' label='Date' onchange={handleChange} variant="label-hidden">
      </lightning-input>
    </div>
  </div></br>


  <div class="strong-text">Mailing Address</div>
  <!-- <lightning-textarea name='mailingaddress' label='Mailing Address' onchange={handleChange} variant="label-hidden">
  </lightning-textarea></br> -->
  <lightning-textarea name='mailingaddress' label='Mailing Address' value={consumerAddress} variant="label-hidden" disabled>
  </lightning-textarea></br>

  <div class="slds-grid slds-gutters_x-small">
    <div class="slds-col slds-medium-size_1-of-2 slds-large-size_1-of-2">
      <div class="strong-text">Email Address</div>
      <!-- <lightning-input type="email" name='emailaddress' label='Email Address' onchange={handleChange} variant="label-hidden">
      </lightning-input> -->
      
      <lightning-input type="email" name='emailaddress' label='Email Address' value={consumerEmail} variant="label-hidden" disabled>
      </lightning-input>
    </div>

    <div class="slds-col slds-medium-size_1-of-2 slds-large-size_1-of-2">
      <div class="strong-text">Phone Number</div>
      <!-- <lightning-input type="Phone" name='phone' label='Phone Number' onchange={handleChange} variant="label-hidden">
      </lightning-input> -->
      <lightning-input type="Phone" name='phone' label='Phone Number' value={consumerPhone} variant="label-hidden" disabled>
      </lightning-input>
    </div>
  </div></br>

  <div class="strong-text">License/Certificate Number (if applicable)</div>
  <lightning-textarea name='license' label='License/Certificate Number (if applicable)' onchange={handleChange}
    variant="label-hidden">
  </lightning-textarea>

  <!-- <div class="footer-controls slds-docked-form-footer stickyFooter slds-modal__footer one" style="position: relative;"> -->
    <!-- <div class="footer"> -->

    <!-- <div class="p-t"> -->

      <div class="slds-docked-form-footer">
        <!-- <footer class="slds-modal__footer"> -->
      <lightning-button variant="brand" label="Save" title="Save" name="Save" onclick={handleClick}
        class="slds-m-around_small slds-align_absolute-center"></lightning-button>
      </div>
    <!-- </footer> -->
    <!-- </div> -->
  <!-- </div> -->
  <!-- </div> -->

</template>