<template>
    <template if:true={showSpinner}>
        <lightning-spinner alternative-text="Loading..."></lightning-spinner>
    </template>
    <div class="container d-flex justify-space-between slds-p-bottom_xx-small">
        <div class="slds-p-left_xx-small header-title"><b>CASLI/NIC or CDI Knowledge Exam</b></div>
    </div>
    <div class="extra-padding">
        <lightning-combobox name="tkenCASLINICOrCDIKnowledgeExam" label="Have you taken the CASLI/NIC or CDI Knowledge (Written) Exam?" value={knowledgeInformation.tkenCASLINICOrCDIKnowledgeExam} placeholder="Select Progress" options={takenKnowledge} onchange={handleChange} ></lightning-combobox>
        <lightning-combobox if:false={examNotTaken} required name="passedCASLINICOrCDIKnowledge" label="Have you passed the CASLI/NIC or CDI Knowledge (Written) Exam?" value={knowledgeInformation.passedCASLINICOrCDIKnowledge} placeholder="Select Progress" options={passedKnowledge} onchange={handleChange} ></lightning-combobox>
        <lightning-combobox if:true={examNotTaken} required name="planningCASLINICOrCDIKnowledge" label="When are you planning to take the CASLI/NIC or CDI Knowledge (Written) Exam?" value={knowledgeInformation.planningCASLINICOrCDIKnowledge} placeholder="Select Progress" options={planningKnowledge} onchange={handleChange} ></lightning-combobox>
    </div>
</template>