<!--
  @description       : 
  @author            : kavya.konagonda@mtxb2b.com
  @group             : 
  @last modified on  : 10-14-2021
  @last modified by  : kavya.konagonda@mtxb2b.com
  Modifications Log 
  Ver   Date         Author                       Modification
  1.0   07-07-2021   kavya.konagonda@mtxb2b.com   Initial Version
-->
<template>
  <div class="slds-align_absolute-center">
    <template if:true={showSpinner}>
      <lightning-spinner alternative-text="Loading" variant="brand" size="medium">
      </lightning-spinner>
    </template>
  </div>
  <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
    aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
    <div class="slds-modal__container" style="width: 120%;">
      <header class="slds-modal__header">

        <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Condition of Acceptance</h2>
      </header>
      <div class="slds-modal__content slds-var-p-around_medium modalcss" id="modal-content-id-2">

        <div class="slds-grid slds-gutters_x-small">
          <img src={logoURL} />
        </div>
        </br>
        <div class="strong-title slds-align_absolute-center">North Carolina National Deaf-Blind</div>
        <div class="strong-title slds-align_absolute-center">Equipment Distribution Program</div>
        <div class="strong-title slds-align_absolute-center"><a href="http://www.icanconnect.org/"
            target="​_blank">www.iCanConnect.org</a></div>

        </br>
        <div class="strong-headingone slds-align_absolute-center ">Equipment Selected</div>
        <br />
        <template if:true={showCase}>

          <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-box"
            aria-labelledby="element-with-table-label other-element-with-table-label">
            <thead>
              <tr class="slds-line-height_reset">

                <th class="" scope="col">
                  <div class="slds-truncate" title="Equipment Name">Equipment Name</div>
                </th>

                <th class="" scope="col">
                  <div class="slds-truncate" title="Amount Authorized">Amount Authorized</div>
                </th>
                <th class="" scope="col">
                  <div class="slds-truncate" title="Quantity">Quantity</div>
                </th>
              </tr>
            </thead>
            <tbody class="slds-scrollable_y " style="max-height:30px;">
              <template for:each={caseList} for:item="caseItem">
                <tr key={caseItem.id}>
                  <td data-label="Equipment Name">
                    <div class="slds-cell-wrap">{caseItem.equipmentName}</div>
                    <!-- {caseItem.equipmentName} -->
                  </td>

                  <td data-label="Amount Authorized">
                    ${caseItem.equipmentAmountAuthorized}
                  </td>
                  <td data-label="Quantity">
                    {caseItem.quantity}
                  </td>
                </tr>
              </template>
            </tbody>
          </table>
        </template>

        <template if:false={showCase}>
          <div class="slds-box boxcss">
            <div class="slds-align_absolute-center">There are no equipments selected.</div>
          </div>
        </template>

        <!-- <div class="strong-heading slds-align_absolute-center ">CERTIFICATION:</div> -->
        </br>
        <div class="strong-headingone slds-align_absolute-center ">Conditions of Acceptance</div>
        <!-- <div class="slds-align_absolute-center">Applicant must sign the application</div> -->
        </br>
        <!-- <p>With my signature below I hereby request services and certify that:</p></br> -->
        <p>The following conditions will apply to all equipment received from this program:</p></br>

        <!-- <span>{Condition_of_Acceptance_label_1}</span></br>
        <span>{Condition_of_Acceptance_label_2}</span></br>
        <span>{Condition_of_Acceptance_label_3}</span></br></br>
        <span>{Condition_of_Acceptance_label_4}</span></br></br> -->

        <span>{Condition_of_Acceptance_label_1_New}</span></br></br>
        <p class="points">a. I cannot sell this equipment to anyone</p></br>
        <p class="points">b. I cannot give away this equipment</p></br>
        <p class="points">c. I cannot loan this equipment to anyone</p></br>
        <span>{Condition_of_Acceptance_label_2_New}</span></br></br>
        <span>{Condition_of_Acceptance_label_3_New}</span></br></br>
        <span>{Condition_of_Acceptance_label_4_New}</span></br></br>
        <span>{Condition_of_Acceptance_label_5_New}</span></br></br>
        <span>{Condition_of_Acceptance_label_6_New}</span></br></br>
        <p class="points">a. I no longer need the equipment (e.g., disability changes, deceased)</p></br>
        <p class="points">b. My equipment has been replaced </p></br>
        <span>{Condition_of_Acceptance_label_7_New}</span></br></br>
        <span>{Condition_of_Acceptance_label_8_New}</span></br></br>
        <span>{Condition_of_Acceptance_label_9_New}</span></br></br>
        <div class="strong-heading">By signing this form, I am approving the equipment selection listed above and agree
          to abide by the conditions as outlined.</div><br />


        <!-- <div class="strong-text">Applicants Name</div> -->
        <!--comment <lightning-input name='applicantsName' label='Applicants Name' value={RequestObj.applicantsName}
    onchange={handleChange} variant="label-hidden"> -->

        <!-- <lightning-input class="strong-text" name='consumername' label='Applicants Name' value={consumerValueNew}
          variant="label-hidden" disabled>
        </lightning-input>
        </br> -->

        <div class="slds-grid slds-gutters_x-small">
          <div class="slds-col slds-medium-size_1-of-2 slds-large-size_1-of-2">

            <!-- <div class="strong-text"><abbr title="required" class="slds-required">*</abbr>Applicants Signature</div>
            <lightning-input name='applicantsSignature' label='Applicants Signature'
              value={RequestObj.applicantsSignature} onchange={handleChange} variant="label-hidden" required
              pattern=".*\S.*">
            </lightning-input> -->

            <div>Signature of Applicant or Parent/Guardian (if
              applicant is under 18)</div></br>
            <!-- <lightning-input name='applicantsSignature' label='Applicants Signature'
              value={RequestObj.applicantsSignature} onchange={handleChange} variant="label-hidden" required
              pattern=".*\S.*">
            </lightning-input> -->
            <template if:true={showImage}>
              <div style="border-radius: 50%;"><img src={url} alt="" width="100" height="100px" /></div>
            </template>
            <!-- <lightning-button variant="brand" label="Sign Here" title="Sign Here" name="SignHere" onclick={handleSign}
          class="slds-float_left"></lightning-button> -->
            <!-- <div class="strong-link"><a name="SignHere" onclick={handleSign}>Sign Here</a></div> -->
            <template if:true={showSignLabel}>
              <div class="strong-link"><a name="SignHere" onclick={handleSign}>Sign Here on behalf of Assessor</a></div>
            </template>
            <template if:false={showSignLabel}>
            <div class="strong-link"><a name="SignHere" onclick={handleSign}>Sign Here</a></div>
            </template>

          </div>


          <div class="slds-col slds-medium-size_1-of-2 slds-large-size_1-of-2 datecss">
            <div><abbr title="required" class="slds-required">*</abbr>Date</div>
            <lightning-input type=Date name='attestationdate' label='Date' onchange={handleChange}
              value={RequestObj.attestationdate} variant="label-hidden" max={todayDate} required>
            </lightning-input>
          </div>
        </div></br>

        <!-- <div class="strong-text">Person completing Information (if other than applicant):</div>
        <lightning-input name='personCompletingInformation'
          label='Person completing Information (if other than applicant):'
          value={RequestObj.personCompletingInformation} onchange={handleChange} variant="label-hidden">
        </lightning-input></br> -->

        <!-- <div class="slds-grid slds-gutters_x-small">
          <div class="slds-col slds-medium-size_1-of-2 slds-large-size_1-of-2">
            <div class="strong-text">Relationship:</div>
            <lightning-input name='relationship' label='Relationship:' value={RequestObj.relationship}
              onchange={handleChange} variant="label-hidden"></lightning-input>
          </div> -->

        <!-- <div class="slds-col slds-medium-size_1-of-2 slds-large-size_1-of-2">
            <div class="strong-text">Phone Number:</div>
            <lightning-input name='phoneNumber' label='Phone Number:' value={RequestObj.phoneNumber}
              onchange={handleChange} variant="label-hidden">
            </lightning-input>
          </div>
        </div></br> -->

        <!-- <div class="strong-text">Alternate contact (for applicant):</div>
        <lightning-input name='alternatecontact' label='Alternate contact (for applicant): '
          value={RequestObj.alternatecontact} onchange={handleChange} variant="label-hidden">
        </lightning-input></br> -->

        <!-- <div class="slds-grid slds-gutters_x-small">
          <div class="slds-col slds-medium-size_1-of-2 slds-large-size_1-of-2">
            <div class="strong-text">Relationship:</div>
            <lightning-input name='relationshipofalternatecontact' label='Relationship:'
              value={RequestObj.relationshipofalternatecontact} onchange={handleChange} variant="label-hidden">
            </lightning-input>
          </div>

          <div class="slds-col slds-medium-size_1-of-2 slds-large-size_1-of-2">
            <div class="strong-text">Phone Number:</div>
            <lightning-input name='phoneNumberofalternatecontact' label='Phone Number:' onchange={handleChange}
              value={RequestObj.phoneNumberofalternatecontact} variant="label-hidden">
            </lightning-input>
          </div>
        </div></br> -->
      </div>

      <footer class="slds-modal__footer" style="
      background: white;
  ">
        <lightning-button variant="brand" label="Cancel" title="Cancel" name="Cancel" onclick={handleCancel}
          class="slds-float_left"></lightning-button>
        <lightning-button variant="brand" label="Reject" title="Reject" name="Reject" onclick={openModal}
          class="slds-float_left slds-m-bottom_small slds-m-left_medium"></lightning-button>

        <!-- <template if:false={accepted}> -->
        <lightning-button variant="brand" label="Accept" title="Accept" name="Save" data-frombutton="fromaccept"
          onclick={handleClick} class="slds-m-around_small"></lightning-button>
        <!-- </template> -->

        <!-- <lightning-button variant="brand" label="Reject" title="Reject" name="Reject" onclick={openModal}
  class="slds-m-around_small"></lightning-button> -->
      </footer>
      <template if:true={isModalOpen}>
        <!-- Modal/Popup Box LWC starts here -->
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
          aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open"
          style="background-color: rgba(0, 0, 0, 0.7);">
          <div class="slds-modal__container">
            <!-- <header class="slds-modal__header"> -->
            <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close">

              <span class="slds-assistive-text">Close</span>
            </button>
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
              <lightning-textarea name='comments' label='Comments' value={RequestObjNew.comments}
                onchange={handleChangeNew}></lightning-textarea>
            </div>
            <!-- Modal/Popup Box LWC footer starts here -->
            <footer class="slds-modal__footer">
              <button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
              <button class="slds-button slds-button_brand" onclick={submitDetails} title="OK">OK</button>
            </footer>
          </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
      </template>

      <template if:true={openRejectModel}>
        <!-- Modal/Popup Box LWC starts here -->
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
          aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open"
          style="background-color: rgba(0, 0, 0, 0.7);">
          <div class="slds-modal__container">
            <!-- <header class="slds-modal__header"> -->
            <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close">

              <span class="slds-assistive-text">Close</span>
            </button>
            <!-- </header> -->
            <div class="slds-modal__content slds-p-around_medium">
              <p>Are you sure you want to Reject? </p>
            </div>
            <!-- Modal/Popup Box LWC footer starts here -->
            <footer class="slds-modal__footer">
              <button class="slds-button slds-button_neutral" onclick={rejectConfirmation} title="Yes">Yes</button>
              <button class="slds-button slds-button_brand" onclick={closeModalReject} title="No">Cancel</button>
            </footer>
          </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
      </template>
    </div>
  </section>
</template>