<!--
  @description       : 
  @author            : kavya.konagonda@mtxb2b.com
  @group             : 
  @last modified on  : 10-14-2021
  @last modified by  : kavya.konagonda@mtxb2b.com
  Modifications Log 
  Ver   Date         Author                       Modification
  1.0   07-02-2021   kavya.konagonda@mtxb2b.com   Initial Version
-->
<template>
  <div class="spinner slds-align_absolute-center">
    <template if:true={showSpinner}>
      <lightning-spinner alternative-text="Loading" variant="brand" size="medium">
      </lightning-spinner>   
    </template>
  </div>
  <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
    aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
    <div class="slds-modal__container" style="width: 100%;">
      <header class="slds-modal__header">
        <!-- <button class="slds-button slds-button_icon slds-modal__close" title="Close" onclick={closeModalNew}>
          <lightning-icon icon-name="utility:close"
              alternative-text="close"
              variant="inverse"
              size="small" ></lightning-icon>
          <span class="slds-assistive-text">Close</span>
        </button> -->
        <!-- <button class="slds-button slds-button_icon slds-modal__close" title="Close" onclick={closeModalNew}>
          <lightning-icon icon-name="utility:close"
              alternative-text="close"
              variant="inverse"
              size="small" ></lightning-icon>
          <span class="slds-assistive-text">Close</span>
        </button> -->
        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"
          onclick={closeModalNew}>
          <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
          </svg>
          <span class="slds-assistive-text">Close</span>
        </button>
        <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">New Assessment</h2>
      </header>
      <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
        <!-- <div class="slds-grid slds-gutters_x-small">
          <span class="slds-col slds-medium-size_1-of-2 slds-large-size_1-of-2">
            <img style="height:70%;width:50%" src={logoURL} />
          </span>

          <span class="slds-col slds-medium-size_1-of-2 slds-large-size_1-of-2">
            <lightning-input class="strong-text" name='consumername' label='Consumer Name' value={consumerValueNew}
              disabled>
            </lightning-input>
          </span>
        </div> -->
        <!-- <div class="slds-grid slds-gutters_x-small">
          <span class="slds-col slds-medium-size_2-of-2 slds-large-size_2-of-2">
            <img  src={logoURL} />
          </span>
          <span class="slds-col slds-medium-size_2-of-2 slds-large-size_1-of-2">
            <lightning-input class="strong-text" name='consumername' label='Consumer Name' value={consumerValueNew}
              disabled>
            </lightning-input>
          </span>
        </div>
         -->
        <div class="slds-grid slds-gutters_x-small">

          <img src={logoURL} />

        </div>

        <div class="slds-col slds-medium-size_1-of-2 slds-large-size_1-of-2">
          <lightning-input class="strong-text" name='consumername' label='Consumer Name' value={consumerValueNew}
            disabled>
          </lightning-input>
        </div>
        <div>
          <br>

          <div class="strong-title title1 slds-align_absolute-center">North Carolina National Deaf-Blind</div>
          <div class="strong-title slds-align_absolute-center">Equipment Distribution Program</div>
          <div class="strong-title slds-align_absolute-center"><a href="http://www.icanconnect.org/"
              target="​_blank">www.iCanConnect.org</a></div></br>
          <div class="strong-titletwo slds-align_absolute-center">Eligibility Assessment</div></br>
        </div>

        <h3><strong>Disability:</strong></h3>
        <!-- <abbr class="slds-required" title="required">*</abbr>label='Hearing Loss (check one):'</legend> -->

        <lightning-radio-group required name='hearing' label='Hearing Loss (check one):' options={picklistOptions}
          value={AssesmentObj.hearing} onchange={handleChange}>
        </lightning-radio-group>

        <lightning-radio-group required name='visionloss' label='Vision Loss (check one):'
          options={picklistOptionsvisionLoss} value={AssesmentObj.visionloss} onchange={handleChange}>
        </lightning-radio-group>

        <!-- comment <lightning-radio-group name='other' label='Other' options={picklistOptionsOther} value={value}
          onchange={handleChange}></lightning-radio-group> -->

        <lightning-checkbox-group required name='other' label='Other (check one or more):'
          options={picklistOptionsOther} value={AssesmentObj.other} onchange={handleChange}></lightning-checkbox-group>

        <!-- comment <lightning-radio-group name='communicationskills' label='Communication Skills'
          options={picklistOptionscommunicationSkills} value={value} onchange={handleChange}></lightning-radio-group> -->

        <lightning-checkbox-group required name='communicationskills' label='Communication Skills (check one or more):'
          options={picklistOptionscommunicationSkills} value={AssesmentObj.communicationskills} onchange={handleChange}>
        </lightning-checkbox-group>

        <!-- comment <lightning-radio-group name='connectivity' label='Connectivity' options={picklistOptionsConnectivity} value={value}
          onchange={handleChange}></lightning-radio-group> -->

        <lightning-checkbox-group required name='connectivity' label='Connectivity (check one or more):'
          options={picklistOptionsConnectivity} value={AssesmentObj.connectivity} onchange={handleChange}>
        </lightning-checkbox-group>


        <!--comment <lightning-radio-group name='aTUsage' label='AT Usage' options={picklistOptionsATUsage} value={value}
          onchange={handleChange}></lightning-radio-group> -->

        <lightning-checkbox-group required name='atUsage' label='AT Usage (check one or more):'
          options={picklistOptionsATUsage} value={AssesmentObj.atUsage} onchange={handleChange}>
        </lightning-checkbox-group>

        <lightning-checkbox-group required name='computerusageexperience'
          label='Computer usage experience (check one or more):' options={picklistOptionsComputerUsageExperience}
          value={AssesmentObj.computerusageexperience} onchange={handleChange}>
        </lightning-checkbox-group>

        <!-- comment <lightning-radio-group name='hearingassessment' label='Hearing Assessment' options={picklistOptionsHearingAssessment}
          value={value} onchange={handleChange}></lightning-radio-group> -->

        <lightning-checkbox-group required name='hearingassessment' label='Hearing Assessment (check one or more):'
          options={picklistOptionsHearingAssessment} value={AssesmentObj.hearingassessment} onchange={handleChange}>
        </lightning-checkbox-group>


        <!-- comment <lightning-radio-group name='visualassessment' label='Visual Assessment' options={picklistOptionsVisualAssessment}
          value={value} onchange={handleChange}></lightning-radio-group> -->

        <lightning-checkbox-group required name='visualassessment' label='Visual Assessment (check one or more):'
          options={picklistOptionsVisualAssessment} value={AssesmentObj.visualassessment} onchange={handleChange}>
        </lightning-checkbox-group>


        <!-- comment <lightning-radio-group name='tactileassessment' label=' Tactile Assessment' options={picklistOptionsTactileAssessment}
          value={value} onchange={handleChange}></lightning-radio-group></br>
       -->

        <lightning-checkbox-group required name='tactileassessment' label='Tactile Assessment (check one or more):'
          options={picklistOptionsTactileAssessment} value={AssesmentObj.tactileassessment} onchange={handleChange}>
        </lightning-checkbox-group>
        </br>

        <div class="strong-text"><abbr title="required" class="slds-required">*</abbr>Narrative</div>
        <lightning-textarea required name='narrative' label='Narrative' onchange={handleChange}
          value={AssesmentObj.narrative} variant="label-hidden">
        </lightning-textarea></br>

        <div class="strong-text"><abbr title="required" class="slds-required">*</abbr>Consumer Goals</div>
        <lightning-textarea required name='consumergoals' label='Consumer Goals' onchange={handleChange}
          value={AssesmentObj.consumergoals} variant="label-hidden">
        </lightning-textarea></br>

        <lightning-checkbox-group required name='levelofcomputerexperience'
          label='Level of Computer Experience (must be completed by staff):' options={picklistOptionsComputerExperience}
          value={AssesmentObj.levelofcomputerexperience} onchange={handleChange}></lightning-checkbox-group></br>

        </br>
        <div class="strong-heading slds-align_absolute-center">ATTESTATION:</div>
        <div class="slds-align_absolute-center">(Professional must sign the application)</div>
        </br>

        <p>{Attestation_Label_1}</p></br>

        <span class="strong-text">Verification of Disability: </span>{Verification_of_Disability}</br></br>

        <span>{Verification_of_Disability_one}</span></br></br>

        <span>{Verification_of_Disability_two}</span></br></br>

        <span>{Verification_of_Disability_three}</span></br></br>

        <span class="strong-text">Income Eligibility: </span>{Income_Eligibility}</br></br>

        <span>{Income_Eligibility_two}</span></br></br>

        <h6>attestation is based on the following:</h6>

        </br>

        <div class="strong-text"><abbr title="required" class="slds-required">*</abbr>Attestation</div>
        <lightning-textarea name='attestation' label='Attestation' onchange={handleChange}
          value={AssesmentObj.attestation} variant="label-hidden" required>
        </lightning-textarea></br>

        <div class="slds-grid slds-gutters_x-small">
          <div class="slds-col slds-medium-size_1-of-2 slds-large-size_1-of-2">
            <div class="strong-text">Attestors signature</div></br>
            <!-- <lightning-input name='attestorsignature' label='Attestors signature' value={AssesmentObj.attestorsignature}
              onchange={handleChange} variant="label-hidden" required pattern=".*\S.*"></lightning-input> -->
              <template if:true={showImage}>
                <div style="border-radius: 50%;"><img src={url} alt="" width="100" height="100px"/></div>
              </template>
              <!-- <lightning-button variant="brand" label="Sign Here" title="Sign Here" name="SignHere" onclick={handleSign}
              class="slds-float_left"></lightning-button> -->
              <!-- <div class="strong-link"><a name="SignHere" onclick={handleSign}>Sign Here</a></div> -->
              <template if:true={showSignLabel}>
                <div class="strong-link"><a name="SignHere" onclick={handleSign}>Sign Here on behalf of Assessor</a></div>
              </template>
              <template if:false={showSignLabel}>
              <div class="strong-link"><a name="SignHere" onclick={handleSign}>Sign Here</a></div>
              </template>
          </div>

          <div class="slds-col slds-medium-size_1-of-2 slds-large-size_1-of-2">
            <div class="strong-text"><abbr title="required" class="slds-required">*</abbr>Date</div>
            <lightning-input type=Date name='attestationdate' label='Date' value={AssesmentObj.attestationdate}
              onchange={handleChange} variant="label-hidden" max={todayDate} required>
            </lightning-input>
          </div>
        </div></br>


        <div class="strong-text"><abbr title="required" class="slds-required">*</abbr>Mailing Address</div>
        <!-- comment <lightning-textarea name='mailingaddress' label='Mailing Address' onchange={handleChange} variant="label-hidden">
        </lightning-textarea></br> -->

        <!-- <template if:true={assessmentAddress}>
          <lightning-textarea name='mailingaddress' label='Mailing Address' value={AssesmentObj.mailingaddress}
          onchange={handleChange} variant="label-hidden">
        </lightning-textarea></br>
        </template> -->

        <!-- <template if:false={assessmentAddress}> -->
        <lightning-textarea name='mailingaddress' label='Mailing Address' value={consumerAddress}
          onchange={handleChange} variant="label-hidden" disabled required>
        </lightning-textarea></br>
        <!-- </template> -->

        <!-- <lightning-textarea name='mailingaddress' label='Mailing Address' value={consumerAddress}
        onchange={handleChange} variant="label-hidden"> </lightning-textarea></br> -->

        <div class="slds-grid slds-gutters_x-small">
          <div class="slds-col slds-medium-size_1-of-2 slds-large-size_1-of-2">
            <div class="strong-text"><abbr title="required" class="slds-required">*</abbr>Email Address</div>
            <!-- comment <lightning-input type="email" name='emailaddress' label='Email Address' onchange={handleChange} variant="label-hidden">
            </lightning-input> -->

            <lightning-input type="email" name='emailaddress' label='Email Address' value={consumerEmail}
              onchange={handleChange} variant="label-hidden" disabled required>
            </lightning-input>
          </div>

          <div class="slds-col slds-medium-size_1-of-2 slds-large-size_1-of-2">
            <div class="strong-text"><abbr title="required" class="slds-required">*</abbr>Phone Number</div>
            <!-- comment <lightning-input type="Phone" name='phone' label='Phone Number' onchange={handleChange} variant="label-hidden">
            </lightning-input> -->
            <lightning-input type="Phone" name='phone' label='Phone Number' value={consumerPhone}
              onchange={handleChange} variant="label-hidden" disabled required>
            </lightning-input>
          </div>
        </div></br>

        <div class="strong-text">License/Certificate Number (if applicable)</div>
        <lightning-textarea name='license' label='License/Certificate Number (if applicable)'
          value={AssesmentObj.license} onchange={handleChange} variant="label-hidden">
        </lightning-textarea>

      </div>

      <footer class="slds-modal__footer" style="
      background: white;
  ">
        <lightning-button variant="brand" label="Cancel" title="Cancel" name="Cancel" onclick={handleCancel}
        style="float:left" class="slds-m-around_small"></lightning-button>
        <lightning-button variant="brand" label="Reject" title="Reject" name="Reject" onclick={openModal}
        style="float:left" class="slds-m-around_small"></lightning-button>

        <lightning-button variant="brand" label="Save" title="Save" name="Save" data-frombutton="fromsave"
        style="float:right" onclick={handleClick} class="slds-m-around_small"></lightning-button>

        <lightning-button variant="brand" label="Accept" title="Accept" name="accept" data-frombutton="fromaccept"
        style="float:right"  onclick={handleClick} class="slds-m-around_small"></lightning-button>

        <!-- <lightning-button variant="brand" label="Reject" title="Reject" name="Reject" onclick={openModal}
          class="slds-m-around_small"></lightning-button> -->
      </footer>
      <template if:true={isModalOpen}>
        <!-- Modal/Popup Box LWC starts here -->
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open" style="background-color: rgba(0, 0, 0, 0.7);">
          <div class="slds-modal__container">
          <!-- <header class="slds-modal__header"> -->
          <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close">
          
          <span class="slds-assistive-text">Close</span>
          </button>
          <!-- <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Modal header</h2> -->
          <!-- </header> -->
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-2">
              <lightning-textarea name='comments' label='Assessor Comment' value={casecomments}
                onchange={handleChangeNew}>
              </lightning-textarea>
            </div>
            <!-- Modal/Popup Box LWC footer starts here -->
            <footer class="slds-modal__footer">
              <button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
              <button class="slds-button slds-button_brand" onclick={submitDetails} title="OK">OK</button>
            </footer>
          </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
      </template>


      <template if:true={openRejectModel}>
        <!-- Modal/Popup Box LWC starts here -->
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open" style="background-color: rgba(0, 0, 0, 0.7);">
          <div class="slds-modal__container">
          <!-- <header class="slds-modal__header"> -->
          <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close">
          
          <span class="slds-assistive-text">Close</span>
          </button>
        <!-- </header> -->
            <div class="slds-modal__content slds-p-around_medium">
              <p>Are you sure you want to Reject? </p>
            </div>
            <!-- Modal/Popup Box LWC footer starts here -->
            <footer class="slds-modal__footer">
              <button class="slds-button slds-button_neutral" onclick={rejectConfirmation} title="Yes">Yes</button>
              <button class="slds-button slds-button_brand" onclick={closeModalReject} title="No">Cancel</button>
            </footer>
          </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
      </template>
    </div>
    </div>
  </section>
</template>