<template>
    <a data-id="productLink" onclick={handleClick}>
        <div data-id="productCard" class="content">
            <img
                src={pictureUrl}
                class="product slds-align_absolute-center"
                alt="Equipment picture"
            />
            <div class="slds-grid slds-m-top_x-small">
                <template if:false={product.isSelected}>
                    <div class="slds-col title slds-small-size_1-of-1" onclick={openProductURL} title={name}>{name}</div>
                </template>
                <template if:true={product.isSelected}>
                    <div class="slds-col title slds-small-size_4-of-6" onclick={openProductURL} title={name}>{name}</div>
                    <div class="slds-col slds-small-size_2-of-6 slds-m-left_xxx-small">
                        <template if:true={quantityOptions.length}>
                            <lightning-combobox
                                    dropdown-alignment="auto"
                                    name="SelectQuantity"
                                    value={selectedQuantity}
                                    variant="label-hidden"
                                    options={quantityOptions}
                                    onchange={handleQuantityChange}
                                    class="quantityBox"></lightning-combobox>
                        </template>
                    </div>
                </template>
            </div>
        </div>
    </a>
</template>