<!--
  @description       : 
  @author            : kavya.konagonda@mtxb2b.com
  @group             : 
  @last modified on  : 10-29-2021
  @last modified by  : kavya.konagonda@mtxb2b.com
  Modifications Log 
  Ver   Date         Author                       Modification
  1.0   07-09-2021   kavya.konagonda@mtxb2b.com   Initial Version
-->
<template>

  <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
    aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
    <template if:true={showSpinner}>
      <lightning-spinner alternative-text="Loading"></lightning-spinner>
  </template>
    <div class="slds-modal__container" style="width: 100%;">
      <header class="slds-modal__header">
        <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Create Request</h2>
      </header>
      <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
        <div class="slds-col slds-medium-size_1-of-1">
          <div>Consumer Name</div>
        </div>
        <div class="strong-text">
          <p>
            <lightning-formatted-text value={consumerName}></lightning-formatted-text>
          </p>
        </div></br>
        <div class="slds-col slds-medium-size_1-of-1">
          <div>Requested by</div>
          <div class="strong-text">
            <p>
              <lightning-formatted-text value={consumerValue}></lightning-formatted-text>
            </p>
          </div>
        </div> </br>
        <div class="slds-col slds-medium-size_1-of-1">
          <lightning-combobox name="requestType" label="Request Type" value={requestObj.requestType} options={options} required
            onchange={handleChange}>
          </lightning-combobox>
        </div>
        <div class="slds-col slds-medium-size_1-of-1">
          <div if:true={showEquipmentTypes}>
          <lightning-dual-listbox name="EquipmentTypes" label="Equipment Types" source-label="Available"
            selected-label="Choosen" required value={requestObj.EquipmentTypes} onchange={handleChange}
            options={picklistOptions}>
          </lightning-dual-listbox>
          </div>
        </div>
      </br>
    </br>
  </br>
</br>
      </div>

      <footer class="slds-modal__footer" style="
      background: white;
  ">
        <lightning-button variant="brand" label="Cancel" title="Cancel" name="Cancel" onclick={cancelEvent}
          ></lightning-button>

        <lightning-button variant="brand" label="Save" title="Save" name="Save" onclick={handleSave}
        class="slds-m-left_medium" ></lightning-button>
      </footer>
    </div>
  </section>
  <!-- <div class="slds-backdrop slds-backdrop_open"></div> -->

</template>