<template>
    <ol class="timeline">
        <li class={step1CSS} value="1" steplabel="1" onclick={handleUserClicks}>Family Information</li>
        <li class={step2CSS} value="2" steplabel="2" onclick={handleUserClicks}>Education Information</li>
        <li class={step3CSS} value="3" steplabel="3" onclick={handleUserClicks}>NCITLB License Information</li>
        <li class={step4CSS} value="4" steplabel="4" onclick={handleUserClicks}>Interpreter Certification Information</li>
        <li class={step5CSS} value="5" steplabel="5" onclick={handleUserClicks}>CASLI/NIC or CDI Knowledge Exam</li>
        <li class={step6CSS} value="6" steplabel="6" onclick={handleUserClicks}>CASLI/NIC or CDI Performance Exam</li>
        <li class={step7CSS} value="7" steplabel="7" onclick={handleUserClicks}>EIPA Information</li>
        <li class={step8CSS} value="8" steplabel="8" onclick={handleUserClicks}>Interpreting Work</li>
        <li class={step9CSS} value="9" steplabel="9" onclick={handleUserClicks}>Interpreter Skills</li>
        <li class={step10CSS} value="10" steplabel="10" onclick={handleUserClicks}>Other Information</li>
    </ol>
</template>