<template>
    <template if:true={showSpinner}>
        <lightning-spinner alternative-text="Loading..."></lightning-spinner>
    </template>
    <div class="container d-flex justify-space-between slds-p-bottom_xx-small">
        <div class="slds-p-left_xx-small header-title"><b>Interpreter Skills</b></div>
    </div>
    <div class="extra-padding">
        <p>What interpreter skill development services are you seeking?  (allow multiple choices)</p>
        <lightning-dual-listbox name="informationAssistance" label="Information/assistance" source-label="Available" selected-label="Selected" options={informationAssistance} onchange={handleChange}></lightning-dual-listbox>
        <lightning-dual-listbox name="interpretingSkillDevelopment" label="Interpreting skill development" source-label="Available" selected-label="Selected" options={interpreterSkillDevelopment} onchange={handleChange}></lightning-dual-listbox>
        <lightning-dual-listbox name="mentoringservices" label="Mentoring services" source-label="Available" selected-label="Selected" options={mentoringService} onchange={handleChange}></lightning-dual-listbox>
    </div>
</template>