<template>
    <template if:true={showSpinner}>
        <lightning-spinner alternative-text="Loading..."></lightning-spinner>
    </template>
    <div class="container d-flex justify-space-between slds-p-left_xx-small">
        <div class="slds-p-left_xx-small header-title"><b>Family Information</b></div>
    </div>
    <div class="extra-padding">
        <lightning-combobox name="haveDeafFamilyMembers" label="Do you have Deaf family members?" value={familyInformation.haveDeafFamilyMembers} placeholder="Select Progress" options={deafFamilyMembers} onchange={handleChange} ></lightning-combobox>
        <div if:true={hasFamilyMember}>
            <lightning-dual-listbox  name="memberRelationship" label="what is their relationship to you?" required source-label="Available" selected-label="Selected" field-level-help="Select your preferred relationship" options={memberRelationship} onchange={handleChange}></lightning-dual-listbox>
            <lightning-input if:true={otherSelected} type="text" label="Other  Relationship" required value={familyInformation.otherRelationship} name="relationshipIfOther" onchange={handleChange} onblur={updateInput}></lightning-input>
        </div>
    </div>
</template>