<!--
  @description       : 
  @author            : kavya.konagonda@mtxb2b.com
  @group             : 
  @last modified on  : 09-01-2021
  @last modified by  : kavya.konagonda@mtxb2b.com
-->
<template>
  <div class="slds-grid header-bar">
    <!-- <div class="slds-col slds-size_1-of-12">
      <span></span>
    </div>
    <div class="slds-col slds-size_2-of-12 slds-p-vertical_x-small ">
      <span><img class="header-bar-image" src={nchdhs_logo_for_nav}></span>
    </div>
    <div class="slds-col slds-size_9-of-12">
      <span></span>
    </div> -->
    <div>
      <span><img class="header-bar-image" src={nchdhs_logo_for_nav}></span>
    </div>
  </div>
</template>