<!--
  @description       : 
  @author            : kavya.konagonda@mtxb2b.com
  @group             : 
  @last modified on  : 11-08-2021
  @last modified by  : kavya.konagonda@mtxb2b.com
-->
<template>
    <lightning-button variant="brand" label="Create Communication Access Request" title="Create Communication Access Request" name="CreateCommunicationAccessRequest" data-frombutton="fromaccept"
          onclick={handleClick} class="slds-m-around_small"></lightning-button>
</template>