<template>
    <template if:true={showSpinner}>
        <lightning-spinner alternative-text="Loading..."></lightning-spinner>
    </template>
    <div class="container d-flex justify-space-between slds-p-bottom_xx-small">
        <div class="slds-p-left_xx-small header-title"><b>Interpret Percentage Information</b></div>
    </div>
    <div class="extra-padding">
        <p>Of the time you spend interpreting, please estimate the percentage of time you interpret in the following settings. </p>
        <lightning-combobox name="videoRelayInterpreting" label="Video Relay Interpreting" value={percentageInformation.videoRelayInterpreting} placeholder="Select Progress" options={videoRelayInterpreting} onchange={handleChange} ></lightning-combobox>
        <lightning-combobox name="videoRemoteInterpreting" label="Video Remote Interpreting" value={percentageInformation.videoRemoteInterpreting} placeholder="Select Progress" options={videoRemoteInterpreting} onchange={handleChange} ></lightning-combobox>
        <lightning-combobox name="communityFreelance" label="Community (freelance)" value={percentageInformation.communityFreelance} placeholder="Select Progress" options={communityFreelance} onchange={handleChange} ></lightning-combobox>
        <lightning-combobox name="eucationalK12" label="Educational K-12" value={percentageInformation.eucationalK12} placeholder="Select Progress" options={educationalK12} onchange={handleChange} ></lightning-combobox>
        <lightning-combobox name="educationalPostSecondary" label="Educational Post-Secondary" value={percentageInformation.educationalPostSecondary} placeholder="Select Progress" options={educationPostSecondary} onchange={handleChange} ></lightning-combobox>
        <lightning-combobox name="other" label="Other" value={percentageInformation.other} placeholder="Select Progress" options={other} onchange={handleChange} ></lightning-combobox>
        <lightning-input type="text" data-id="hoursWorkedinMedicalSettings" name="hoursWorkedinMedicalSettings" label="If you work in the community, how many hours a week do you work in medical settings?" value={percentageInformation.hoursWorkedinMedicalSettings} onchange={handleHoursWorkedinMedicalSettings} required></lightning-input>
    </div>
</template>