<template>
    <template if:true={showSpinner}>
        <lightning-spinner alternative-text="Loading..."></lightning-spinner>
    </template>
    <div class="container d-flex justify-space-between slds-p-bottom_xx-small">
        <div class="slds-p-left_xx-small header-title"><b>Education Information</b></div>
    </div>
    <div class="extra-padding">
        <lightning-combobox name="educationLevel" label="What is your highest level of education?" value={educationInformation.educationLevel} placeholder="Select Progress" options={educationLevel} onchange={handleChange} ></lightning-combobox>
        <lightning-input if:true={educationLevelOther} required type="text" label="Other Education Level" value={educationInformation.otherEducation} name="otherEducation" onblur={updateInput}></lightning-input>
        <template if:false={hightSchoolDiploma}>
            <lightning-dual-listbox name="college" label="Which college did you get your degree?" source-label="Available" selected-label="Selected" field-level-help="Select your preferred relationship" options={college} onchange={handleChange}></lightning-dual-listbox>
            <lightning-input if:true={otherCollegeSelected} required  type="text" label="Other College" value={educationInformation.otherCollege} name="otherCollege" onchange={handleChange} onblur={updateInput}></lightning-input>
            <template if:false={noCollegeDegree}>
                <lightning-dual-listbox name="degree" label="What is your degree in?" source-label="Available" selected-label="Selected" field-level-help="Select your preferred relationship" options={degree} onchange={handleChange}></lightning-dual-listbox>
                <lightning-input if:true={otherDegreeSelected} required type="text" label="Other Degree" value={educationInformation.otherDegree} name="otherDegree" onchange={handleChange} onblur={updateInput}></lightning-input>
            </template>
        </template>
    </div>
</template>